* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  background-color: #000c30;
}

.li__regalos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: .5em 0em;
}

.contenedor__padre {
  max-height: 100vh;
  overflow: auto;
}

.app {
  text-align: center;
  color: #dddddd;
  font-size: 1.5em;
}

.button__eliminar {
  background-color: inherit;
  border: none;
}

body {
  background-image: url("./images/navidad.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

button {
  cursor: pointer;
}

button, input {
  color: #000000;
  padding: .3em;
  font-weight: 700;
}

.imagenagregada__enreact {
  width: 150px;
  
}

.modal__overlay {
  padding: 20px;
  position: absolute;
  top: 6em;
  left: 0;
  right: 0;
  bottom: 0;
  height: 15em;
  width: 30em;
  margin: auto;
}

.modal__content {
  background-color: black;
  padding: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form--input {
    margin: 4px auto;
    width: 50%;
}