* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

.app {
  text-align: center;
  color: #dddddd;
  font-size: 1.5em;
}

.button__eliminar {
  outline: none;
  border: 3px rgb(0, 0, 0) solid;
  color: #ff0000;
  background-color: rgb(0, 0, 0);
  width: 3em;
  height: 2em;
}

body {
  background-image: url("./images/navidad.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.input__cantidad {
  width: 6em;
}

button {
  cursor: pointer;
}

button, input {
  color: #000000;
  background-color: aqua;
  padding: .3em;
  font-weight: 700;
}

.imagenagregada__enreact {
  width: 150px;
  display: flex;
  margin: auto;
  object-fit: contain;
}

.modal-overlay {
  background-color: rgb(255, 0, 0);
  padding: 20px;
  position: absolute;
}

.modal-content {
  background-color: yellow;
  padding: 20px;
}