* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
  background-color: #000c30;
}

.li__regalos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .3em 0em;
  border: 2px #ff8989 solid;
}

.contenedor__padre {
  max-height: 100vh;
  overflow: auto;
}

.app {
  text-align: center;
  color: #ffffff;
  font-size: 1.4em;
}

.button__eliminar {
  background-color: inherit;
  border: none;
}

body {
  background-image: url("./images/navidad.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

button, input {
  color: #000000;
  padding: .3em;
  font-weight: 700;
}

.imagenagregada__enreact {
  width: 160px;
  height: 160px;
}

.modal__overlay {
  padding: 20px;
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.modal__content {
  background-color: black;
  padding: 50px;
  width: 36em;
  margin: auto;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form--input {
    margin: 4px auto;
    min-width: 50%;
}

.estilo-botton {
  padding: 1em;
  background-color: #c50b0b;
  color: #ffeeee;
  min-width: 10em;
  border-radius: 35px;
}

.estilo-botton:hover {
  transition: .5s all linear;
  background-color: yellow;
  color: black;
  box-shadow: 0 2px 9px 0 rgb(235 235 195 / 84%), 0 17px 50px 0 rgb(208 17 3 / 94%);
}